<div data-v-25fe23b3="" class="order-wrapper-box">
    <div data-v-25fe23b3="" class="order-box">
        <div data-v-25fe23b3="" class="order-tab-box">
            <div data-v-25fe23b3="" class="channel"><a data-v-25fe23b3="" href="/es/subscription"
                    class="">Suscripción</a><b data-v-25fe23b3="" class="active">Pedidos históricos</b></div>
            <div data-v-25fe23b3="" class="filter-box">
                <div class="v-slide-group v-tabs v-tabs--horizontal v-tabs--align-tabs-start v-tabs--density-default"
                    tabindex="-1" role="tablist" data-v-25fe23b3=""><!---->
                    <div class="v-slide-group__container">
                        <div class="v-slide-group__content"><button data-v-25fe23b3="" type="button"
                                class="v-btn selected v-tab--selected v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-text v-tab order-tab"
                                tabindex="0" role="tab" aria-selected="true" value=""><span
                                    class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span
                                    class="v-btn__content"
                                    data-no-activator="">Todos<!----></span><!----><!----></button><button
                                data-v-25fe23b3="" type="button"
                                class="v-btn v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-text v-tab order-tab"
                                tabindex="-1" role="tab" aria-selected="false" value="1"><span
                                    class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span
                                    class="v-btn__content" data-no-activator="">Procesando
                                    (0)<!----></span><!----><!----></button><button data-v-25fe23b3="" type="button"
                                class="v-btn v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-text v-tab order-tab"
                                tabindex="-1" role="tab" aria-selected="false" value="2"><span
                                    class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span
                                    class="v-btn__content" data-no-activator="">Terminado
                                    (0)<!----></span><!----><!----></button><button data-v-25fe23b3="" type="button"
                                class="v-btn v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-text v-tab order-tab"
                                tabindex="-1" role="tab" aria-selected="false" value="3"><span
                                    class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span
                                    class="v-btn__content" data-no-activator="">Pendiente de resolución
                                    (0)<!----></span><!----><!----></button><button data-v-25fe23b3="" type="button"
                                class="v-btn v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-text v-tab order-tab"
                                tabindex="-1" role="tab" aria-selected="false" value="4"><span
                                    class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span
                                    class="v-btn__content" data-no-activator="">Reintegrado
                                    (0)<!----></span><!----><!----></button><button data-v-25fe23b3="" type="button"
                                class="v-btn v-theme--light v-btn--density-default v-btn--size-default v-btn--variant-text v-tab order-tab"
                                tabindex="-1" role="tab" aria-selected="false" value="5"><span
                                    class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span
                                    class="v-btn__content" data-no-activator="">Pedidos cancelados
                                    (0)<!----></span><!----><!----></button></div>
                    </div><!---->
                </div><!---->
                <div data-v-25fe23b3="" class="search-box">
                    <div data-v-b5d1f676="" data-v-25fe23b3="" class="input-wrapper-box mr-4">
                        <div data-v-b5d1f676="" class="input">
                            <div data-v-b5d1f676="" class="iconfont icon-search"></div><input data-v-b5d1f676=""
                                placeholder="Buscar ID de pedido..." value=""><!---->
                        </div>
                    </div>
                    <div data-v-25fe23b3="" class="filters">
                        <div data-v-25fe23b3="" class="iconfont icon-filter-alt mr-2"></div> Filtros
                    </div>
                </div>
            </div><!---->
        </div>
        <ul data-v-3674ed25=""></ul><!----><!----><!----><!---->
        <div data-v-c0515d83="" data-v-25fe23b3="" class="result-box noResult"><img data-v-c0515d83=""
                src="https://static.gamsgocdn.com/gg2_new/images/order/no-result.webp">
            <h4 data-v-c0515d83="">No se encontraron pedidos relevantes</h4>
            <p data-v-c0515d83="">Puedes ir y ver lo que quieres comprar.</p><a data-v-c0515d83=""
                class="v-btn v-theme--light v-btn--density-default v-btn--rounded v-btn--size-default v-btn--variant-text button"
                href="/es" style="color: rgb(255, 255, 255); caret-color: rgb(255, 255, 255);"><span
                    class="v-btn__overlay"></span><span class="v-btn__underlay"></span><!----><span
                    class="v-btn__content" data-no-activator="">ir a comprar</span><!----><!----></a>
        </div>
    </div>
</div>